<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
</head>
<body>
  <h1>{{title}}</h1>
  <p>Bienvenido a {{title}}</p>
  <a href="/celebrities/create">Agregar nueva celebridad</a>
  <div>
    <a href="/celebrities">Ver lista de celebridades</a>
  </div>
  <div>
    <a href="/movies/create">Agregar nueva película</a>
  </div>
  <div>
    <a href="/movies">Ver lista de películas</a>
  </div>
</body>
</html>
