<h2>Nueva Película</h2>
<form action="/movies/create" method="POST">
  <label for="title">Título:</label>
  <input type="text" name="title" required>
  <label for="genre">Género:</label>
  <input type="text" name="genre" required>
  <label for="plot">Trama:</label>
  <textarea name="plot" required></textarea>
  <label for="cast">Elenco:</label>
  <select name="cast" multiple required>
    {{#each celebrities}}
      <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>
  <button type="submit">Guardar</button>
</form>
